:root{
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

body{
  height: 100%;
}

.hero-section{
  align-items: flex-start;
  background-image: linear-gradient(15deg, #0c0c0c 0%, #0c0c0c 150%);
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.card1-grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media(min-width: 540px){
  .card1-grid{
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media(min-width: 960px){
  .card1-grid{
    grid-template-columns: repeat(4, 1fr); 
  }
}

.card1{
  list-style: none;
  position: relative;
}

.card1:before{
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background1, .card__background2, .card__background3, .card__background4{
  background-size: cover;;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
}

.card__background1{
  background-image: url("../../assets/card1.png")
}
.card__background2{
  background-image: url("../../assets/card2.png")
}
.card__background3{
  background-image: url("../../assets/card3.png")
}
.card__background4{
  background-image: url("../../assets/card4.png")
}


.card1:hover .card__background1{
  transform: scale(1.05) translateZ(0);
}

.card1-grid:hover > .card:not(:hover) .card__background1{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}
.card1:hover .card__background2{
  transform: scale(1.05) translateZ(0);
}

.card1-grid:hover > .card:not(:hover) .card__background2{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}
.card1:hover .card__background3{
  transform: scale(1.05) translateZ(0);
}

.card1-grid:hover > .card:not(:hover) .card__background3{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}
.card1:hover .card__background4{
  transform: scale(1.05) translateZ(0);
}

.card1-grid:hover > .card:not(:hover) .card__background4{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card1__content{
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card1__category{
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card1__heading{
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}